* {
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
    height: max-content;
    display:initial;
}



header{
    display: flex;
    flex-direction: row;
}

nav {
    /*position: sticky;
    top: 0;*/
    font-family: 'Handlee', cursive;
    border: 4px solid black;
    margin: 1px;
    padding: 15px;


}




.cajacentral {
    display: flex;
    flex-direction: row;


}




.cajados {
    border: 4px solid;
    color: black;
    font-family: 'Handlee', cursive;
    /*width: 750px; */
    width: 98,5%;
    padding: 10px;
    font-size: 25px;
    margin: 1px;
    min-height: 100vh;
    flex-direction: row;
    
    
    
}  
    



.cajatres {

    border: 4px solid;
    color: black;
    font-family: 'Handlee', cursive;
    padding: 10px;
    font-size: 25px;
    margin: 1px;
    width: 50%;
    
}


.cajacuatro {

    border: 4px solid;
    color: black;
    font-family: 'Handlee', cursive;
    padding:10px;
    font-size: 25px;
    margin: 1px;
    width: 50%;
    
   
}   




li {
    color:black;
    font-size: 20px;
    font-weight: bolder;

}



footer{
    border:3px solid black;
    margin:1px;
    padding: 2px;
    display:flex;
    flex-direction: row;
    color: black;
    justify-content: space-evenly;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    padding-top: 10px;
   
    
    
    
    

}

a:link{
    text-decoration: underline;
    color :black;
    

}

.centrada {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.titulo{
    border: 3px solid black;
    text-align: center;
    margin: 1px;
    padding: 2px;
    font-family: 'Handlee', cursive;

}


.alargue{
    width: 90%;
    text-align: center;
    padding-top: 40px;
     

}

.tamañoimg {
    width: 400px;
    height: 250px;
    border: 3px solid beige;
}

body {
    background-image: url(fondo.gif);
    background-size: cover;
}



.cajagrande
{

    width: 300px;
    font-size: 25px;
    

}

form{
    background-image: url(pinguform.jpg);
    background-repeat: no-repeat;
    background-position: 600px;
    text-align: center;
    
    

}

textarea{
    width: 500px;
    height: 300px;
    resize: none;
    font-size: 25px;


}

h4{
    text-decoration: underline;
}

